@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdf2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Hide scrollbar for cleaner mobile look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
